nav {
 border: 1px solid black;   
}

nav {
    background-color: purple;
    font-size: 8px;
}

input {
    width: 100%;
}
div.input {
    margin: 0 auto;
}
div.topLink {
    text-align: left;
    align-content: center;
    align-items: center;

}