<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../scss/style.scss")
        link(href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet")
    script(src="../js/main.js")
    title Mcsweeney's Internet Tendency
    body
    include partials/navbar.pug
    div.row
        div.col-xs-12.col-sm-12.col-md-3.col-lg-3
            a(href='https://www.patreon.com/mcsweeneysinternettendency')
                img(src="https://d3thpuk46eyjbu.cloudfront.net/uploads/production/3720/1538532886/public/patreon_buttonb.png?1538532886" height="120" width="120" class="img-circle")
        div.col-xs-12.col-sm-12.col-md-6.col-lg-6
            span.logo-text-span.HM 
                p.HM McSweeney's
                    p.logo Internet Tendency
                    p.logo CELEBRATING OUR 21ST YEAR!
        div.HR.col-xs-12.col-sm-12.col-md-3.col-lg-3 
            p.hr Daily humor 
                br
                | almost every day 
                br
                | since 1998.
    div.row
        div.col.banner2 
            p.banner2 TIMOTHY MCSWEENEY'S QUARTERLY CONCERN
            p.banner2
                a(href="https://www.mcsweeneys.net/articles/submission-call-for-mcsweeneys-quarterly-the-american-pie") We have a unique submission call for an upcoming edition of our print quarterly.  Click for details.

    div.row
            div.col-xs-12.col-sm-3.col-md-3.col-lg-3.leftCol TRENDING
                div.newStory.bold Russia, Russia, Russia
                            br
                            | by Jeffrey Unhinged
                div.newStory Millenials Protest Against Things For Reasons Because Reality
                            br
                            p.br by Sky Head
                div.newStory 5 New Tricks To Avoid Unwanted Information From Entering Your Brain
                            br
                            p.br by Ruby Tisma          
            div.col-xs-12.col-sm-5.col-md-6.col-lg-6 OUR LATEST POST
                div.middle Outrageous Outrage Industry Continues To Outrage
                            br
                            p.br by Jeffrey Unhinged
                div.middle Dependence Day To Be A New Federally Reconized Holiday, Coming July 5th 2020
                            br
                            p.br by Kyle Benard
                div.middle Rush Hour Metro Car Smell To Be Offered As New Cologne In D.C. Shop
                            br
                            p.br by James Finn
                div.middle Do Airpods Cause Cancer?  As Many As Four In Five Americans May Be Affected
                            br
                            p.br by Ruby Tisma              
            div.col-xs-12.col-sm-3.col-md-3.col-lg-3.rightCol OVER AT MCSWEENEY'S PUBLISHING
                div.newStory Are there Enough Scooters On Our Sidewalks?
                            br
                            p.br by Ivan Boolean
                div.newStory Can Pennslyvania Even?  
                            br
                            p.br by Angry Millenial
                div.newStory Avacado Shortage Could Cripple Northern Virginia Economy 
                            br
                            p.br by David Fratata
    div.row
        div.footer Here's a bunch of text nobody cares about in the event they want to learn more about the website.
            br
            | Copyright (2019)